<section class="works" style="background:url('image/catalog/block/sound_bg.jpg') no-repeat; background-position: 100% 100%; background-size: cover;">
		<div class="container">
			<h2>Звук - это наша работа!</h2>
			<div class="work-list">
				<div class="col-sm-3">
					<div class="box-work">
						<p class="title-block">
							<span class="big_title">7</span>
							<span class="small_title">лет</span>
						</p>
						<p class="text-box">на рынке систем
							оповещения и
							трансляции и профессиональный звук</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box-work">
						<p class="title-block">
							<span class="big_title">5</span>
							<span class="small_title">лет</span>
						</p>
						<p class="text-box">инсталляции профессионального оборудования</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box-work">
						<p class="title-block">
							<span class="big_title">200</span>
							<span class="small_title">+</span>
						</p>
						<p class="text-box">озвученных объектов</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box-work">
						<p class="title-block">
							<span class="big_title">1000</span>
							<span class="small_title">+</span>
						</p>
						<p class="text-box">проданных
							технических решений</p>
					</div>
				</div>
			</div>
		</div>
	</section>