<section class="box-consultation" style="background:url('image/catalog/block/bg_consultation.jpg') no-repeat;    background-size: cover;">
    <div class="container">
        <div class="zayavka">
            <div class="description-box"><h2>Закажите бесплатную</h2><h2>консультацию специалиста</h2><h2>прямо сейчас</h2></div>
            <p class="request"><a href="#box-contact" class="btn-send btn-default-b scroll">ОСТАВИТЬ ЗАЯВКУ</a></p>
        </div>
    </div>
</section>